x-common-vars: &common-vars
  MIX_ENV: dev
  ERLANG_COOKIE: secret
  APP_NAME: mini_hadoop
  DATA_BASE_PATH: /app/data
  DATA_TEMP_PATH: /app/temp

x-worker-vars: &worker-vars
  <<: *common-vars
  NODE_TYPE: worker
  MASTER_NODE: master@master

services:
  master:
    build: .
    container_name: master_node
    hostname: master
    environment:
      <<: *common-vars
      NODE_TYPE: master
      NODE_NAME: master
    ports:
      - "4000:4000"
    command: iex --sname master --cookie secret -S mix
    stdin_open: true
    tty: true
    networks:
      hadoop_net:
        aliases:
          - master.hadoop.internal
    volumes:
      - ./data/master:/app/data
      - ./temp/master:/app/temp
      - ./logs/master:/app/logs
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /app
        - action: rebuild
          path: ./Dockerfile

  worker1:
    build: .
    container_name: worker_node1
    hostname: worker1
    environment:
      <<: *worker-vars
      NODE_NAME: worker1
      WORKER_ID: "1"
    command: iex --sname worker1 --cookie secret -S mix
    stdin_open: true
    tty: true
    depends_on:
      - master
    networks:
      - hadoop_net
    volumes:
      - ./data/worker1:/app/data
      - ./temp/worker1:/app/temp
      - ./logs/worker1:/app/logs
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /app
        - action: rebuild
          path: ./Dockerfile

  worker2:
    build: .
    container_name: worker_node2
    hostname: worker2
    environment:
      <<: *worker-vars
      NODE_NAME: worker2
      WORKER_ID: "2"
    command: iex --sname worker2 --cookie secret -S mix
    stdin_open: true
    tty: true
    depends_on:
      - master
    networks:
      - hadoop_net
    volumes:
      - ./data/worker2:/app/data
      - ./temp/worker2:/app/temp
      - ./logs/worker2:/app/logs
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /app
        - action: rebuild
          path: ./Dockerfile

  worker3:
    build: .
    container_name: worker_node3
    hostname: worker3
    environment:
      <<: *worker-vars
      NODE_NAME: worker3
      WORKER_ID: "3"
    command: iex --sname worker3 --cookie secret -S mix
    stdin_open: true
    tty: true
    depends_on:
      - master
    networks:
      - hadoop_net
    volumes:
      - ./data/worker3:/app/data
      - ./temp/worker3:/app/temp
      - ./logs/worker3:/app/logs
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /app
        - action: rebuild
          path: ./Dockerfile

  worker4:
    build: .
    container_name: worker_node4
    hostname: worker4
    environment:
      <<: *worker-vars
      NODE_NAME: worker4
      WORKER_ID: "4"
    command: iex --sname worker4 --cookie secret -S mix
    stdin_open: true
    tty: true
    depends_on:
      - master
    networks:
      - hadoop_net
    volumes:
      - ./data/worker4:/app/data
      - ./temp/worker4:/app/temp
      - ./logs/worker4:/app/logs
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /app
        - action: rebuild
          path: ./Dockerfile

networks:
  hadoop_net:
    driver: bridge
    name: hadoop_cluster_net
