services:
  master:
    build: .
    container_name: master_node
    hostname: master
    environment:
      - NODE_TYPE=master
      - MIX_ENV=dev # ← ADD THIS
    ports:
      - "4000:4000"
    command: iex --sname master --cookie secret -S mix
    stdin_open: true
    tty: true
    networks:
      - hadoop_net
    volumes:
      - ./data:/app/MiniHadoop/data
      - ./data/shared:/shared
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /app
        - action: rebuild
          path: ./Dockerfile

  worker1:
    build: .
    container_name: worker_node1
    hostname: worker1
    environment:
      - NODE_TYPE=worker
      - MASTER_NODE=master@master
      - MIX_ENV=dev # ← ADD THIS
    command: iex --sname worker1 --cookie secret -S mix # ← FIX: unique sname
    stdin_open: true
    tty: true
    depends_on:
      - master
    networks:
      - hadoop_net
    volumes:
      - ./data/worker1:/app/MiniHadoop/data
      - ./data/shared:/shared
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /app
        - action: rebuild
          path: ./Dockerfile

  worker2:
    build: .
    container_name: worker_node2
    hostname: worker2
    environment:
      - NODE_TYPE=worker
      - MASTER_NODE=master@master
      - MIX_ENV=dev # ← ADD THIS
    command: iex --sname worker2 --cookie secret -S mix # ← FIX: unique sname
    stdin_open: true
    tty: true
    depends_on:
      - master
    networks:
      - hadoop_net
    volumes:
      - ./data/worker2:/app/MiniHadoop/data
      - ./data/shared:/shared
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /app
        - action: rebuild
          path: ./Dockerfile

  worker3:
    build: .
    container_name: worker_node3
    hostname: worker3
    environment:
      - NODE_TYPE=worker
      - MASTER_NODE=master@master
      - MIX_ENV=dev # ← ADD THIS
    command: iex --sname worker3 --cookie secret -S mix # ← FIX: unique sname
    stdin_open: true
    tty: true
    depends_on:
      - master
    networks:
      - hadoop_net
    volumes:
      - ./data/worker3:/app/MiniHadoop/data # ← FIX: was worker2
      - ./data/shared:/shared
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /app
        - action: rebuild
          path: ./Dockerfile

networks:
  hadoop_net:
    driver: bridge
